In [6]:
#PROBLEM 1

class shape():
    def area():
        pass

class circle(shape):
    def __init__(self,radius):
        self.radius = radius
    def area(self):
        print("The area is: ",3.14*(self.radius**2))
        
class square(shape):
    def __init__(self,side):
        self.side = side
    def area(self):
        print("The area is: ",self.side**2)
        
class rectangle(shape):
    def __init__(self,l,b):
        self.l = l
        self.b = b
    def area(self):
        print("The area is: ",self.l*self.b)
        
a1 = circle(5)
a1.area()
a2 = square(8)
a2.area()
a3 = rectangle(15,24)
a3.area()

The area is:  78.5
The area is:  64
The area is:  360

In [8]:
#PROBLEM 2

class travel():
    def __init__(self,distance, mode):
        self.distance = distance
        self.mode = mode
        self._number = 10

class train(travel):
    def __init__(self,distance,mode):
        travel.__init__(self,distance,mode)
        
    def cost(self):
        print("Cost due to train : ", self._number*60)
    
class bus(travel):
    def __init__(self,distance,mode):
        travel.__init__(self,distance,mode)
       
    def cost(self):
        print("Cost due to bus: ", self._number*100)

fam_1 = train(100,"train")
fam_2 = bus(100, "bus")

fam_1.cost()
fam_2.cost()

Cost due to train :  600
Cost due to bus:  1000

In [10]:
#PROBLEM 3

class Car:
  def __init__(self, mNo):
    self.mNo = mNo

def swap_model_no(car1, car2):
  car1.mNo, car2.mNo = car2.mNo, car1.mNo

c1 = Car('20BM42A')
c2 = Car('28KS18T')
print('Before swapping the model number:')
print(f'Car 1: {c1.mNo}\nCar 2: {c2.mNo}')
swap_model_no(c1, c2)
print('After swapping the model number:')
print(f'Car 1: {c1.mNo}\nCar 2: {c2.mNo}')

Before swapping the model number:
Car 1: 20BM42A
Car 2: 28KS18T
After swapping the model number:
Car 1: 28KS18T
Car 2: 20BM42A